.x1-maintenance-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('./assets/GothamBold.otf') format('opentype');
}

.x1-maintenance-background {
    background-image: url(./assets/x1_background_desktop.jpg);
    background-size: cover; /* Cover the entire area of the element */
    background-position: center; /* Center the image in the element */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%; /* Stretch to the full width of the viewport */
    min-height: 100vh; /* Minimum height to cover the viewport height */
    position: fixed; /* Optional: Fix the position relative to the viewport */
    top: 0;
    left: 0;
    z-index: -1; /* Optional: Ensure it stays in the background */
}

.x1-maintenance{
    display: flex; /* Make this a flex container */
    align-items: center;
    justify-content: center; /* Align content to the left */
    flex-direction: column;
    width: 50%;
}

.x1-maintenance .x1-logo {
    display: flex; /* Make this a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding-top: 15vh;
}

.x1-maintenance .x1-logo img {
    height: 40%;
    width: 40%;
    object-fit: contain; /* This will ensure the image fits within the div without stretching */
}

.x1-maintenance .x1-content {
    font-family: "Gotham Bold";
    font-size: 1.25rem;
    color: #ffffff;
    padding-top: 110px;
    text-align: center;
}

.x1-maintenance .x1-subcontent {
    font-family: "Gotham Bold";
    color: #ffffff;
    padding-top: 41px;
    text-align: center;
}

.x1-maintenance .cta-button{
    padding-top: 75px;
}

.x1-maintenance .cta-button button {
    font-family: "Gotham Bold";
    color: #ffffff;
    background-color: #ffa803;
    border-radius: 30px;
    letter-spacing: 1px;
    border: none; /* This will remove any borders */
    padding: 15px 45px; /* Adjust padding as needed */
    font-size: 1.4rem; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

@media (max-width: 1440px) {
    .x1-maintenance .x1-logo img {
        height: 50%;
        width: 50%;
        object-fit: contain; /* This will ensure the image fits within the div without stretching */
    }
    .x1-maintenance .x1-content {     
        font-size: 1rem;      
        padding-top: 52px;
    }
    
    .x1-maintenance .x1-subcontent {
        font-size: .9rem;  
        padding-top: 38px;
    }

}

@media (max-width: 991px) {
    .x1-maintenance .x1-logo img {
        height: 70%;
        width: 70%;
        object-fit: contain; /* This will ensure the image fits within the div without stretching */
    }
    .x1-maintenance .cta-button button {
        font-size: 1rem; /* Adjust font size as needed */
        padding: 15px 35px; /* Adjust padding as needed */
    }
}

@media (max-width: 768px) {
    .x1-maintenance .x1-logo img {
        height: 80%;
        width: 80%;
        object-fit: contain; /* This will ensure the image fits within the div without stretching */
    }
    .x1-maintenance .x1-content {     
        font-size: .9rem;      
        padding-top: 52px;
    }
    
    .x1-maintenance .x1-subcontent {
        font-size: .75rem;  
        padding: 35px 10px 0 10px; 
    }
    .x1-maintenance .cta-button button {
        font-size: 1rem; /* Adjust font size as needed */
        padding: 10px 25px; /* Adjust padding as needed */
    }
}

@media (max-width: 576px) {
    .x1-maintenance-background {
        background-image: url(./assets/x1_background_mobile.jpg);
    }
    .x1-maintenance{
        width: 100%;
    }
    .x1-maintenance .x1-logo {
        padding-top: 3vh;
    }
    .x1-maintenance .x1-logo img {
        height: 70%;
        width: 70%;
        object-fit: contain; /* This will ensure the image fits within the div without stretching */
    }
    .x1-maintenance .x1-content {     
        font-size: 1rem; 
        padding-top: 40px;
    }
    .x1-maintenance .x1-subcontent {
        font-size: .75rem;  
        padding-top: 40px;
    }
    .x1-maintenance .cta-button{
        padding-top: 40px;
    }
}

@media (max-width: 430px) {
    .x1-maintenance .x1-content {     
        font-size: .75rem; 
        padding-top: 40px;
    }
    .x1-maintenance .x1-subcontent {
        font-size: .6rem;  
        padding: 35px;
    }
    .x1-maintenance .cta-button{
        padding-top: 10px;
    }
    .x1-maintenance .cta-button button {
        font-size: .8rem; /* Adjust font size as needed */
        padding: 10px 30px; /* Adjust padding as needed */
    }
}

@media (max-width: 375px) {
    .x1-maintenance .x1-content {     
        font-size: .65rem; 
        
    }
    .x1-maintenance .x1-subcontent {
        font-size: .55rem;  
       
    }
    .x1-maintenance .cta-button button {
        font-size: .8rem; /* Adjust font size as needed */
        padding: 10px 20px; /* Adjust padding as needed */
    }
}

